#me{
    font-size: 2rem;
}
#me:hover {
    a{ 
        font-size: 3rem;
    }
}
a:hover{
    font-size: 1.5rem;
    color:brown;
}
.home-title{
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2.5em;
    font-weight: 700;
    color: rgb(199, 203, 207);
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 9px 3px rgba(16,16,16,0.4),
    1px 11px 5px rgba(16,16,16,0.2),
    1px 12.5px 17.5px rgba(16,16,16,0.2),
    1px 15px 30px rgba(16,16,16,0.4);
}

.home-ranking{
    text-align: center;
    margin: 0.5rem;
    color:antiquewhite;
    a {
        text-decoration: none;
        color:antiquewhite;
    }
    a:hover {
        color:rgb(243, 152, 152);
        font-weight: bolder;
    }
}
